In [1]:
import pandas as pd
import os
#import sqlite3
import psycopg2
import csv

In [2]:
file_names = []
for (dirpath, dirnames, filenames) in os.walk('.'):
    file_names.extend(filenames)
    break
    
file_names = list(filter(lambda x:'csv' in x, filenames))
file_names

['subjects.csv',
 'subject_memberships.csv',
 'rooms.csv',
 'schedules.csv',
 'sections.csv',
 'courses.csv',
 'course_offerings.csv',
 'instructors.csv',
 'teachings.csv',
 'grade_distributions.csv']

In [3]:
tables = {}
for table in file_names:
    print(table)
    with open(table) as f:
        tables[table[:-4]] = pd.read_csv(f)
        
len(tables)

subjects.csv
subject_memberships.csv
rooms.csv
schedules.csv
sections.csv
courses.csv
course_offerings.csv
instructors.csv
teachings.csv
grade_distributions.csv

10

In [4]:
for table in tables.keys():
    print(table, ' : ', list(tables[table].columns))

subjects  :  ['code', 'name', 'abbreviation']
subject_memberships  :  ['subject_code', 'course_offering_uuid']
rooms  :  ['uuid', 'facility_code', 'room_code']
schedules  :  ['uuid', 'start_time', 'end_time', 'mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']
sections  :  ['uuid', 'course_offering_uuid', 'section_type', 'number', 'room_uuid', 'schedule_uuid']
courses  :  ['uuid', 'name', 'number']
course_offerings  :  ['uuid', 'course_uuid', 'term_code', 'name']
instructors  :  ['id', 'name']
teachings  :  ['instructor_id', 'section_uuid']
grade_distributions  :  ['course_offering_uuid', 'section_number', 'a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count']

In [15]:
tables['course_offerings']['course_uuid'].value_counts()

4d6a5df7-3427-3650-b946-ce5c616ff530    22
8ca4cb82-0242-32e6-8206-b1f99ae17e84    22
4590d10f-d7d6-333c-8b79-44ce35b33051    22
1138ead6-bacb-302d-931a-bd2b4415c06c    22
26093156-2a6b-34ff-b4fd-b7e47b18fbc7    22
341c1321-f72a-3fce-8dd9-2f99884fef5f    22
13da2ed6-f4cc-3d92-bab3-cb3a02c1bbfc    22
836ed4e1-a900-3f19-8d5b-ce8f1e4fa8bc    22
3b2fedd8-0705-3747-8276-8e098af899fe    22
2997300e-efa3-3463-aedc-375f47959144    22
e4884c26-a42a-3f14-8f08-bb325d9c0358    22
0f714438-313d-3687-a92c-f12d65427c60    22
0ce08969-507a-39b7-888f-4c253cebced9    22
53225a2a-88ce-3ef5-b469-e92bdbc5a90b    22
568800f7-0758-3a7f-8c83-3d29ebd58a44    22
d193425d-2bf1-33f4-9e3e-978ee8d07e39    22
8082de80-6263-347e-b7c0-7ccd3677d8b6    22
143bacc0-719d-3522-a649-958e834bc456    22
2a44f41b-75f0-315b-ab48-1570f161dd49    22
d69e3a14-4e6b-332d-96c6-911d3dfc69a8    22
ed57ad63-a33a-3d18-aa60-94a39594822b    22
bffbcd70-d12d-31eb-b0d7-a3bda7f425f8    22
ef810a32-9440-384b-bd01-6262253018ce    22
7c604c54-f614-38a1-8925-256db8d37d89    22
48bbf30c-868c-30c2-8de1-3f35bf1f1a67    22
d935a5a8-906b-353b-ae7b-43aa11ab235f    22
77b78416-682a-3414-b5c2-bf90fbe11d01    22
b09d6895-c1aa-3bf6-a3fc-4f4598ecd577    22
3a328245-8903-3711-84c0-8ff307aaf84a    22
6171f9af-7442-3034-b992-1f39a7a8e982    22
                                        ..
02b5e45f-d22d-34f7-b8d0-560657d2203e     1
23f3f08e-add2-33c9-bb27-5fb879b34a07     1
f987fdae-e7d2-3ead-9e5c-f950d0bb8d32     1
755955ec-b613-35f5-9ff9-00450dcc8366     1
5d74a1e4-7ee9-351c-ab73-a8bcdd84a334     1
7249f7f5-5d8c-3f4f-93a0-c57540a2e707     1
c2d0ed72-5552-397d-9a23-38e19f364bd1     1
de459eeb-3394-3385-95a2-8f7d873fa569     1
28a74294-4b8a-307b-b057-a2502383e1de     1
62b3e488-a3cc-387b-acfe-133c9831fab4     1
80c9bce0-d0e2-3eda-88a8-2830d9da87dd     1
8a5100ff-2aba-3e32-9aac-7a49ee29b089     1
b122b63e-3816-31fb-b4ea-dab9750f4a57     1
67740381-8dac-3596-8822-36c99792db17     1
1d564fb6-bb9a-34da-9eab-e11a466c93ae     1
2c36d508-14c6-3851-8435-1a4b4ef8b120     1
340f8929-ef5b-32bb-ad46-85e25aec33f8     1
a0cdc13a-27dd-319d-b2bf-5f8a7f3a24e6     1
feba6b86-3c4c-3f0a-96bf-78cdab5ab732     1
e8839fb9-58a8-3b83-8e00-4f4a5a629af3     1
c314a1dd-cc36-3a44-9618-0df1e72da4f0     1
2e58dfbe-e16d-3995-a6b1-bc24b5bca44b     1
25c42a79-3769-3483-942b-3220757340a1     1
35f8cd34-d968-3f06-9b19-5a0a997dbd2d     1
8309c69d-2643-3657-834b-f96a0eeb7206     1
c4e39f32-c166-33df-a280-c1bb0f0fc445     1
e7220e1a-2c62-378d-be62-458a1d2e931e     1
13450946-6605-301c-9a28-7af0a1862674     1
d12f2f42-0539-39a9-b02d-58d59d511dc6     1
ce904c3a-702d-3830-830a-30c465f5a97b     1
Name: course_uuid, Length: 9306, dtype: int64

In [ ]:
df = tables['rooms']
df['facility_code'].value_counts();

In [12]:
table = file_names[-7]
num_cols = len(tables[table[:-4]].columns)
cols = "%s," * num_cols
query = "INSERT INTO " + table[:-4] + " VALUES (" + cols[:-1] + ")"
query

'INSERT INTO schedules VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

In [ ]:
# row = ['5716145', "REMY FERN√ÅNDEZ-O'BRIEN"]
# for table in file_names:
#     print(f"{table[:-4]} has {len(tables[table[:-4]].columns)} columns")
#     query = f"""INSERT INTO {table[:-4]} VALUES {row}"""
#     print(query)

In [ ]:
# file_names[-3]
# tables['instructors'].head()

In [14]:
conn = psycopg2.connect("dbname=uw-grades")
cur = conn.cursor()

for table in file_names[-3:-2]:
    with open(table, 'r') as f:
        num_cols = len(tables[table[:-4]].columns)
        cols = "%s," * num_cols
        reader = csv.reader(f)
        next(reader)  # Skip the header row.
        for row in reader:
            query = "INSERT INTO " + table[:-4] + " VALUES (" + cols[:-1] + ")"
            cur.execute(query, row)
            
    conn.commit()

In [ ]:
conn = sqlite3.connect('database.sqlite3')
conn.set_trace_callback(print)
#conn.tables
c = conn.cursor()
test_table = 'teachings'
query = """SELECT sql FROM sql_master WHERE name = '""" + test_table + "';"
c.execute(query)
for _ in range(100):
    print(next(c))