In [1]:
import pandas as pd
import os
import psycopg2
import csv
from scipy import stats

Here we will find the file names where the raw data lives (inside /data folder).

### To create new database from pgloader:

1.  Install pgloader  -   `brew install pgloader`
2.  `createdb uw_mad_grades`  - createdb {databasename}
3.  `pgloader database.sqlite3 postgresql:///uw_mad_grades`   -  pgloader {sqllite3 filename} postgresql:///{database name}

In [2]:
file_names = []
for (dirpath, dirnames, filenames) in os.walk('data'):
    file_names.extend(filenames)
    break
    
file_names = list(filter(lambda x:'csv' in x, filenames))
file_names

['subjects.csv',
 'subject_memberships.csv',
 'rooms.csv',
 'schedules.csv',
 'sections.csv',
 'courses.csv',
 'course_offerings.csv',
 'instructors.csv',
 'teachings.csv',
 'grade_distributions.csv']

In [5]:
tables = {}
for table in file_names:
    with open('data/' + table) as f:
        tables[table[:-4]] = pd.read_csv(f)
        
subjects = tables['subjects']
subject_memberships = tables['subject_memberships']
rooms = tables['rooms']
schedules = tables['schedules']
sections = tables['sections']
courses = tables['courses']
course_offerings = tables['course_offerings']
instructors = tables['instructors']
teachings = tables['teachings']
grade_distributions = tables['grade_distributions']
        
print(f'converted into {len(tables)} dataframes stored in dict: tables')

converted into 10 dataframes stored in dict: tables

In [4]:
# table_cols = {}
# for table in tables.keys():
#     table_cols[table] = list(tables[table].columns)
# for k, v in table_cols.items():
#     print(f'{k} : {v}')

subjects : ['code', 'name', 'abbreviation']
subject_memberships : ['subject_code', 'course_offering_uuid']
rooms : ['uuid', 'facility_code', 'room_code']
schedules : ['uuid', 'start_time', 'end_time', 'mon', 'tues', 'wed', 'thurs', 'fri', 'sat', 'sun']
sections : ['uuid', 'course_offering_uuid', 'section_type', 'number', 'room_uuid', 'schedule_uuid']
courses : ['uuid', 'name', 'number']
course_offerings : ['uuid', 'course_uuid', 'term_code', 'name']
instructors : ['id', 'name']
teachings : ['instructor_id', 'section_uuid']
grade_distributions : ['course_offering_uuid', 'section_number', 'a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count', 's_count', 'u_count', 'cr_count', 'n_count', 'p_count', 'i_count', 'nw_count', 'nr_count', 'other_count']

In [6]:
# conn = psycopg2.connect("dbname=uw_mad_grades")
# cur = conn.cursor()

# # for table in file_names:
# #     with open(table, 'r') as f:
# #         num_cols = len(tables[table[:-4]].columns)
# #         cols = "%s," * num_cols
# #         reader = csv.reader(f)
# #         next(reader)  # Skip the header row.
# #         for row in reader:
# #             query = "INSERT INTO " + table[:-4] + " VALUES (" + cols[:-1] + ")"
# #             cur.execute(query, row)
            
# #     conn.commit()
# query = '''
# SELECT
#    sections.course_offering_uuid ,instructor_id, a_count, count(grade_distributions.course_offering_uuid)
# FROM
#    teachings
#    INNER JOIN
#    sections
#    ON teachings.section_uuid=sections.uuid
#    INNER JOIN
#    grade_distributions
#    ON sections.course_offering_uuid=grade_distributions.course_offering_uuid
#    WHERE
#        (CAST(grade_distributions.a_count AS integer) > 0) OR
#        (CAST(grade_distributions.ab_count AS integer) > 0) OR
#        (CAST(grade_distributions.b_count AS integer) > 0) OR
#        (CAST(grade_distributions.bc_count AS integer) > 0) OR
#        (CAST(grade_distributions.c_count AS integer) > 0) OR
#        (CAST(grade_distributions.d_count AS integer) > 0) OR
#        (CAST(grade_distributions.f_count AS integer) > 0)
#    GROUP BY sections.course_offering_uuid, instructor_id, a_count
#    HAVING count(grade_distributions.course_offering_uuid) > 1;'''

# cur.execute(query)
# test_df = pd.DataFrame(cur.fetchall())
# test_df.columns = [i[0] for i in cur.description]

In [7]:
conn = psycopg2.connect("dbname=uw_mad_grades")
cur = conn.cursor()
query = '''
DROP TABLE IF EXISTS grade_dist_numeric
'''
cur.execute(query)
query = '''
CREATE TABLE grade_dist_numeric AS (
  SELECT
    course_offering_uuid
  , section_number
  , CAST(grade_distributions.a_count AS integer)
  , CAST(grade_distributions.ab_count AS integer)
  , CAST(grade_distributions.b_count AS integer)
  , CAST(grade_distributions.bc_count AS integer)
  , CAST(grade_distributions.c_count AS integer)
  , CAST(grade_distributions.d_count AS integer)
  , CAST(grade_distributions.f_count AS integer)
  FROM grade_distributions
  )
'''
cur.execute(query)
conn.commit()

In [8]:
conn = psycopg2.connect("dbname=uw_mad_grades")
cur = conn.cursor()

query = '''
SELECT
  sections.course_offering_uuid
, course_offerings.course_uuid
, course_offerings.name
, COUNT(sections.number) AS section_count
, instructor_id
, SUM(a_count) AS a_count
, SUM(ab_count) AS ab_count
, SUM(b_count) AS b_count
, SUM(bc_count) AS bc_count
, SUM(c_count) AS c_count
, SUM(d_count) AS d_count
, SUM(f_count) AS f_count
FROM
   teachings
INNER JOIN
   sections
   ON teachings.section_uuid=sections.uuid
INNER JOIN
   grade_dist_numeric
   ON (
     (sections.course_offering_uuid = grade_dist_numeric.course_offering_uuid)
      AND (sections.number = grade_dist_numeric.section_number))
INNER JOIN
   course_offerings
   ON sections.course_offering_uuid=course_offerings.uuid
WHERE
   (a_count + ab_count + b_count + bc_count + c_count + d_count + f_count) > 0
GROUP BY
  sections.course_offering_uuid
, course_offerings.course_uuid
, course_offerings.name
, instructor_id
HAVING
  count(instructor_id) > 1;
'''

cur.execute(query)
all_grades_count_df = pd.DataFrame(cur.fetchall())
all_grades_count_df.columns = [i[0] for i in cur.description]

In [9]:
all_grades_count_df.head()

,course_offering_uuid,course_uuid,name,section_count,instructor_id,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count
0,000d1ef4-b78a-304e-8ff9-382dfc96835a,10362c9c-bbf8-39e3-8506-c2783ee31625,Diversity in Special Education,3,3802457,96,15,0,0,0,0,0
1,00193853-8f6d-3e14-994b-77a557b35d74,a4dcc153-1a04-39d8-9b28-b56fb4fa5266,Cult Anthro&Human Diversity,2,3409966,368,272,109,42,21,8,6
2,0019cbe1-e2dc-3c25-a625-bbede76db115,366714bd-5513-3f00-8af3-1f250ecb4062,Plant Physiology,2,2600006,14,6,11,5,4,1,0
3,001d3a50-91d2-3f63-8858-778dc542bbbc,9be02b62-4325-3877-9271-09764cd00bb2,Scand Lit in Tran-20th C,2,2602070,23,36,17,13,9,0,0
4,002d324d-b562-3772-8369-52307754894f,20b909fd-f617-3a90-8871-f9d8efe57dc8,The Teaching of Children's Lit,2,103165,44,1,0,0,0,0,0

In [10]:
col = ['a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count']
all_grades_count_df['class_size'] = all_grades_count_df[col].sum(axis=1)
all_grades_count_df['counts'] = all_grades_count_df.groupby(['course_uuid'])['course_uuid'].transform('count')

In [12]:
#Which class was taught the most times?
all_grades_count_df = all_grades_count_df.loc[all_grades_count_df['counts']>1]
all_grades_count_df.sort_values('counts', ascending=False).head()

,course_offering_uuid,course_uuid,name,section_count,instructor_id,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,class_size,counts
5794,78a11bde-275c-313a-9c65-ea93faacdeba,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,5516801,5,14,2,0,0,0,1,22,489
8367,b2695db3-d8eb-31c0-b4f3-add51eb32d03,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,3337031,7,7,7,1,1,0,0,23,489
6027,7f44df10-881a-38b9-bb4f-70e00d3444b2,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4709223,5,12,8,0,1,0,0,26,489
599,0b9a80f6-833a-3a56-9a67-7f40652405de,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,1441959,4,14,6,0,1,0,0,25,489
600,0b9a80f6-833a-3a56-9a67-7f40652405de,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,1544049,4,5,2,2,1,3,0,17,489

In [60]:
all_grades_count_df.loc[all_grades_count_df['class_size'] < 25]

,course_offering_uuid,course_uuid,name,section_count,instructor_id,a_count,ab_count,b_count,bc_count,c_count,d_count,f_count,class_size,counts
31,0065311e-3bc8-3741-be63-88947072ee7b,e8f0ae02-7b25-3dda-ac09-f34f728f5717,Human Dev: Ed Effectiveness,2,3782643,18,1,1,0,0,0,0,20,143
32,0065311e-3bc8-3741-be63-88947072ee7b,e8f0ae02-7b25-3dda-ac09-f34f728f5717,Human Dev: Ed Effectiveness,2,4137315,16,4,2,0,1,0,1,24,143
43,00bb210f-79ed-3a27-847c-c8ce86e00c1b,bab5a27a-7b7f-36c8-aaf7-604144a11bdd,Resrch Mthds Phm Outcms/Policy,2,3351341,12,2,0,0,0,0,0,14,2
44,00bb210f-79ed-3a27-847c-c8ce86e00c1b,bab5a27a-7b7f-36c8-aaf7-604144a11bdd,Resrch Mthds Phm Outcms/Policy,2,538055,12,2,0,0,0,0,0,14,2
46,00bff4c3-a65f-307b-8d6b-b9ed86eeeeae,72b3ac48-ea95-3b93-ac90-4d9d18a4967e,Interdis Studies in the Arts,2,3437427,12,6,0,2,0,0,2,22,13
73,014615b1-6ad9-308e-ba21-4553c049f950,d5261349-e18c-31f1-9776-f638f672665f,Techniques&Materials for TESOL,2,902505,16,8,0,0,0,0,0,24,3
81,017e383d-9b64-3789-b7c7-1bf8e5ef5992,488f8c5a-2a58-3973-8110-bcedd96149bd,Intermediate Algebra,2,4157459,2,1,4,2,8,2,0,19,26
86,0195a2d0-c51f-3364-9cb4-101419a20ad6,0a9f2690-fced-3660-9fce-a662e6724378,Wisdom Literature: Job,2,2601101,2,6,4,0,0,0,0,12,2
91,01d2f36b-4e16-3cd0-8352-5dfeef453475,728cb1c0-7343-341a-8459-c177d35a97fa,Three-Dimensional Design,2,5191165,9,10,4,0,0,0,0,23,44
93,01d4730d-abe2-3dae-b3b0-28a26aae038d,1f7cc0a1-e94f-37bd-86e5-717fe755a19f,Special Topics,2,3919940,8,0,2,0,2,0,0,12,14
100,01e6b08a-be82-3327-bcc7-ec6dfd6ae561,c5b6662b-f315-3bd2-b5f3-56d3d00ab3b0,Extramur Elec-Emergency Med,2,2601054,8,4,1,0,0,0,0,13,6
120,02481c5b-8179-3c1c-af29-067518106759,e8f0ae02-7b25-3dda-ac09-f34f728f5717,Human Dev: Ed Effectiveness,3,4118362,15,1,1,1,2,0,0,20,143
123,02481c5b-8179-3c1c-af29-067518106759,e8f0ae02-7b25-3dda-ac09-f34f728f5717,Human Dev: Ed Effectiveness,2,5017269,14,3,0,2,0,0,0,19,143
130,027c823b-f814-3f90-ab38-656a51648645,5ff86517-1e62-3aaa-97e7-bd68e62f1f1d,Fourth Year Russian I,2,3127390,10,2,2,0,0,0,0,14,2
131,027c823b-f814-3f90-ab38-656a51648645,5ff86517-1e62-3aaa-97e7-bd68e62f1f1d,Fourth Year Russian I,2,4616864,6,2,4,2,6,0,0,20,2
132,028d5edd-8c92-3b07-9a06-da0c1a8e3892,52270ee0-7f45-32bc-aa70-c1a04dbcbffd,Advanced Naval Laboratory II,2,3919730,20,0,0,0,0,0,0,20,5
143,02ee31bf-3b8d-345e-bb14-7cddc9e4b1a3,d7c12459-cf3b-3e63-8694-01ecb1373a5e,Small Animal Genrl Surgery,2,1541618,22,0,0,0,0,0,0,22,25
144,02ee31bf-3b8d-345e-bb14-7cddc9e4b1a3,d7c12459-cf3b-3e63-8694-01ecb1373a5e,Small Animal Genrl Surgery,2,225566,22,0,0,0,0,0,0,22,25
145,02ee31bf-3b8d-345e-bb14-7cddc9e4b1a3,d7c12459-cf3b-3e63-8694-01ecb1373a5e,Small Animal Genrl Surgery,2,2601000,22,0,0,0,0,0,0,22,25
146,02ee31bf-3b8d-345e-bb14-7cddc9e4b1a3,d7c12459-cf3b-3e63-8694-01ecb1373a5e,Small Animal Genrl Surgery,2,3233932,22,0,0,0,0,0,0,22,25
184,03ba2110-9362-3224-9790-42163719216c,b396e310-a0a6-33fc-97a1-f094b1a9fbe6,Special Topics,3,132528,20,0,0,0,0,0,0,20,8
185,03ba2110-9362-3224-9790-42163719216c,b396e310-a0a6-33fc-97a1-f094b1a9fbe6,Special Topics,2,2601520,24,0,0,0,0,0,0,24,8
186,03ba2110-9362-3224-9790-42163719216c,b396e310-a0a6-33fc-97a1-f094b1a9fbe6,Special Topics,3,2601971,20,0,0,0,0,0,0,20,8
187,03bfffdc-3c5e-337d-903a-1d371b2ceb2e,779c3289-e0bd-3dbd-93ed-ab055cf4af17,Jazz Improvisation,2,2600891,12,0,2,0,0,0,0,14,7
192,03deb9a5-d1e3-31e4-92f0-4655401cc849,ab4cae80-186a-33d8-9dce-8eff52302496,Drama for Teaching & Learning,2,5193266,15,0,0,0,0,0,0,15,9
197,03ef1df6-5c95-34f5-9a41-4a95500ac625,a973be75-0ded-34fd-b898-07d40f88b702,Circuits Laboratory I,2,3347060,22,0,0,0,0,0,0,22,37
208,040e61ff-d992-3913-b486-74ff807c7aa2,50c86876-a070-3968-b740-48fe7e3f5a41,Topics Seminar-Educ Leadership,2,2601761,20,0,0,0,0,0,0,20,19
218,042e5482-293c-33c0-b4d9-e86509bbf100,4d8b4ab0-9833-33a2-b273-ce5c33b5f3a0,Advanced Legal Writing,2,196664,1,0,3,0,0,0,0,4,3
220,04515e77-5682-3890-b9e1-e31e749b8723,0df5cb28-f3e2-3d14-a28c-a71757570038,Information Ethics and Policy,2,840786,15,6,1,0,0,0,0,22,2
221,046abbb4-f3ed-308f-8631-14177e766fde,b75560cc-2de3-3f4a-840c-e42b69047960,University Opera,2,4926713,20,0,0,0,0,0,0,20,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11776,fcdd7ec6-57e4-32d1-86fb-f7d1c1a87dc9,3e0dec5f-6118-3a0b-8361-f460955a9840,Lab Tech-Exercise Physiol,2,1066794,10,2,4,0,0,0,0,16,10
11777,fcdd7ec6-57e4-32d1-86fb-f7d1c1a87dc9,3e0dec5f-6118-3a0b-8361-f460955a9840,Lab Tech-Exercise Physiol,2,455738,10,2,4,0,0,0,0,16,10
11795,fd5e30d3-b6e5-3107-8606-6b0fde7c2abb,96ab3096-a99b-37ea-b110-83c8dde19eef,Special Topics-Mech Engr,2,922579,8,0,8,0,0,0,0,16,8
11799,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,3908701,6,14,4,0,0,0,0,24,489
11800,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,3921154,5,14,1,2,0,0,0,22,489
11802,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4301152,2,11,6,2,0,1,0,22,489
11804,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4540355,9,11,3,1,0,0,0,24,489
11805,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4540776,11,10,2,0,0,1,0,24,489
11808,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4726566,18,2,2,0,0,0,0,22,489
11809,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4901383,8,11,4,0,1,0,0,24,489
11810,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,4999865,16,7,1,0,0,0,0,24,489
11811,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,5012685,14,4,2,0,2,2,0,24,489
11812,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,5015116,7,9,6,0,0,1,0,23,489
11813,fd7a3e03-a30b-3117-b431-e5f27d644f43,7a552326-da08-354c-aafc-f56edcf83f44,Intro to Speech Composition,2,5015966,5,6,5,1,3,1,1,22,489
11821,fda7305e-1bcd-386a-82fe-83a5f3437c8d,c5b6662b-f315-3bd2-b5f3-56d3d00ab3b0,Extramur Elec-Emergency Med,2,2601054,6,8,1,0,0,0,0,15,6
11822,fda7a2a7-808f-3f95-9f0c-402e25eb0970,1f7cc0a1-e94f-37bd-86e5-717fe755a19f,Special Topics,2,860729,17,0,0,0,0,0,0,17,14
11841,fdf8d19d-46ae-3e1c-8e34-5dea791d6a1d,e943af37-e40c-3dbe-a50f-68b0cb30a767,Physical Chemistry Lab,2,2601525,5,3,4,4,0,1,0,17,47
11842,fdf8d19d-46ae-3e1c-8e34-5dea791d6a1d,e943af37-e40c-3dbe-a50f-68b0cb30a767,Physical Chemistry Lab,3,4218443,9,5,4,4,0,1,0,23,47
11843,fdf8d19d-46ae-3e1c-8e34-5dea791d6a1d,e943af37-e40c-3dbe-a50f-68b0cb30a767,Physical Chemistry Lab,2,4895929,8,3,2,0,0,0,0,13,47
11844,fdf8d19d-46ae-3e1c-8e34-5dea791d6a1d,e943af37-e40c-3dbe-a50f-68b0cb30a767,Physical Chemistry Lab,3,988895,9,5,4,4,0,1,0,23,47
11846,fe0897bf-06f5-30b4-8de9-56569cefdf44,72b3ac48-ea95-3b93-ac90-4d9d18a4967e,Interdis Studies in the Arts,2,408564,4,3,7,0,0,0,0,14,13
11847,fe0897bf-06f5-30b4-8de9-56569cefdf44,72b3ac48-ea95-3b93-ac90-4d9d18a4967e,Interdis Studies in the Arts,2,575891,4,3,7,0,0,0,0,14,13
11859,fe31b827-57fc-3f0a-9be6-19c58fa1cf05,ced33391-fe46-3e90-9ff4-4c3ad9cebb2d,Sr Rotation:Lrge Animal Med,2,2600008,13,0,0,0,0,0,0,13,20
11860,fe31b827-57fc-3f0a-9be6-19c58fa1cf05,ced33391-fe46-3e90-9ff4-4c3ad9cebb2d,Sr Rotation:Lrge Animal Med,2,2600626,13,0,0,0,0,0,0,13,20
11861,fe31b827-57fc-3f0a-9be6-19c58fa1cf05,ced33391-fe46-3e90-9ff4-4c3ad9cebb2d,Sr Rotation:Lrge Animal Med,2,2602078,13,0,0,0,0,0,0,13,20
11862,fe31b827-57fc-3f0a-9be6-19c58fa1cf05,ced33391-fe46-3e90-9ff4-4c3ad9cebb2d,Sr Rotation:Lrge Animal Med,2,3040964,13,0,0,0,0,0,0,13,20
11872,fe7d0c65-f9d8-3970-b096-1b19c1850da4,2997300e-efa3-3463-aedc-375f47959144,Intro Microprocessor Lab,2,710039,22,2,0,0,0,0,0,24,26
11873,fe7e2c0e-9c64-362d-a8b2-1d13831df497,d131b8e8-5c4f-3438-82c1-cf62754c0ddb,Topics in Span Lang Pract,2,4124270,15,4,2,0,1,1,1,24,4
11877,fe9bab34-04f5-349f-9acf-fe054515258b,1ee365d2-c2cf-3fd1-9faa-8d7f6f20c8ab,Intermediate Reporting,2,714888,11,10,2,0,0,0,0,23,3
11907,ff62153a-556c-3c24-b70f-5eadf19eaa23,bd751e47-5fea-3928-a50f-2dc214413a76,Reference & Info Service,2,5630497,16,0,0,0,0,0,0,16,9

In [14]:
prof_matters = all_grades_count_df.loc[all_grades_count_df['course_uuid'] == '7a552326-da08-354c-aafc-f56edcf83f44'].drop(['course_offering_uuid', 'course_uuid', 'section_count', 'name', 'counts'], axis=1)
prof_matters.head()

In [54]:
prof_matters['instructor_id'].values

array(['1441959', '1544049', '3010500', '3196989', '3292045', '3338326',
       '3404244', '359342', '3614745', '3617728', '3780094', '3784713',
       '3978152', '3985597', '4124009', '4150938', '912304', '195426',
       '3077099', '3473033', '3614745', '3625028', '3780094', '3801942',
       '4138221', '4265924', '4275432', '4286663', '4289299', '4289376',
       '4402193', '4428675', '4435923', '3337031', '3900615', '4150121',
       '4260531', '4278373', '4436951', '4540355', '4542927', '4709223',
       '5015116', '5015966', '5026051', '5161667', '5175381', '5177905',
       '5183812', '182590', '3900615', '3961551', '4010536', '4144256',
       '4275432', '4539308', '4577488', '4602472', '4619996', '4627108',
       '4711338', '4715243', '4739455', '4855766', '4911838', '5011208',
       '5015966', '5018006', '5488800', '5514889', '5634301', '5665662',
       '5694114', '5701312', '5701690', '5703925', '1441959', '1544049',
       '1564520', '195426', '3009080', '3077099', '3334087', '3338326',
       '3404244', '3426199', '3579933', '3614745', '3617728', '3619127',
       '3624160', '3628524', '3801942', '4124009', '4150121', '418834',
       '4260531', '4265924', '4274987', '4275432', '4286528', '4286663',
       '4289299', '4289376', '724369', '838488', '1596998', '3337031',
       '3743484', '3777398', '3900615', '3921154', '3988855', '4150121',
       '4278373', '4284847', '4286732', '4289299', '4417693', '4436951',
       '4540355', '4542927', '4709223', '4718398', '5015116', '5015966',
       '5018006', '5026051', '5161667', '5168209', '5175381', '5177905',
       '5183812', '1596998', '1625191', '1657172', '3114363', '3222633',
       '3336117', '3337031', '3631582', '3729294', '3767682', '3975028',
       '3978152', '3982654', '3988987', '4086625', '4150121', '4170997',
       '4275432', '4542927', '4579110', '4708412', '4709223', '4718035',
       '4724824', '4739455', '512170', '796765', '359342', '3623800',
       '4577488', '4619996', '4633338', '4739455', '4901342', '5175381',
       '5488800', '5514889', '5516801', '5540665', '1441959', '1544049',
       '3010500', '3020989', '3029007', '3196989', '3338326', '3404244',
       '3473196', '359342', '3614745', '3619127', '3619960', '3624160',
       '3624936', '3780094', '3780502', '3782370', '3782632', '3784713',
       '3789999', '3971866', '3978152', '3985597', '4124009', '4125693',
       '4150938', '912304', '182590', '3800576', '4010536', '4275432',
       '4539308', '4577488', '4619996', '4739455', '4855766', '4911838',
       '5011208', '5694114', '1516192', '195426', '3009080', '3077099',
       '3327118', '3337031', '3338492', '3579933', '3619127', '3624160',
       '3625028', '3639549', '3755887', '3776752', '3801942', '3950575',
       '4134732', '4138221', '4265924', '4274198', '4275432', '4286663',
       '4289299', '4402193', '4428675', '4435923', '4444519', '4454368',
       '764271', '1441959', '1596998', '3530363', '3733734', '3767682',
       '3908701', '3921154', '3961551', '3982654', '4000673', '4154035',
       '4170997', '4289299', '4301152', '4428565', '4432700', '4435923',
       '4540355', '4540776', '4577488', '4594118', '4696602', '4726566',
       '4901383', '4999865', '5012685', '5015116', '5015966', '5018006',
       '3623800', '3767682', '4150121', '4263761', '4542927', '4577488',
       '4581886', '4594118', '4594766', '4619996', '4633338', '4709223',
       '4739455', '4901342', '5161667', '5168073', '5175381', '5183812',
       '5333633', '5488800', '5494989', '5514627', '5514889', '5516801',
       '5519194', '5540665', '3077099', '359342', '3767682', '3900615',
       '3971866', '3975028', '3978152', '4086625', '4170997', '4542927',
       '4579110', '4708412', '4709223', '4718035', '4724824', '796765',
       '1441959', '1544049', '3077099', '3078922', '3473033', '3617728',
       '3801942', '4124009', '4150121', '4260531', '4265924', '4275432',
       '4286528', '4286663', '4289299', '4289376', '3187519', '3334087',
       '3579933', '3801942', '3900615', '4150121', '4286732', '4418617',
       '4428675', '4432700', '4435923', '4577714', '4581886', '4589127',
       '4594118', '1543577', '1625191', '3107968', '3187519', '3253306',
       '3332416', '3337031', '3579933', '359342', '3620117', '3625028',
       '3631582', '3771205', '3776752', '3900615', '3982654', '418834',
       '4278373', '4286732', '4418617', '4428675', '4432700', '4435923',
       '4577714', '4581886', '4589127', '4594118', '512170', '764271',
       '3136315', '3719062', '3729294', '3811392', '3900615', '4010536',
       '4275432', '4310631', '4398942', '4736666', '4739455', '4882656',
       '4888644', '5015919', '5134771', '5180255', '5539085', '5634395',
       '5694114', '5841727', '5887275', '5904048', '5905700', '5905783',
       '5905884', '5909192', '5910557', '5911521', '1596998', '1625191',
       '3027642', '3530363', '359342', '3729294', '3782370', '3888064',
       '3921154', '3983671', '3988428', '3988987', '4086625', '4132058',
       '4150121', '4170997', '4275432', '4278373', '4428565', '4432700',
       '4435923', '4702934', '4709170', '4709223', '4718398', '4724824',
       '4727446', '4901342', '512170', '3371918', '3623800', '3767682',
       '3900615', '3960315', '3961551', '3988855', '4070207', '4147307',
       '4432700', '4533030', '4542927', '4581886', '4588508', '4594118',
       '4594254', '4708412', '4718035', '4718398', '4724824', '5011488',
       '5015966', '5036171', '5161667', '5329362', '5330243', '5339881',
       '5340096', '5340443', '3371918', '3623800', '3988855', '4533030',
       '4581886', '4594118', '4718035', '4724824', '5011488', '5015966',
       '5036171', '5161667', '5329362', '5340443', '359342', '3780094',
       '3908701', '3921154', '3982654', '4301152', '4432700', '4540355',
       '4540776', '4594118', '4696602', '4726566', '4901383', '4999865',
       '5012685', '5015116', '5015966'], dtype=object)

In [49]:
def prof_a_size(df, grade='a'):
    '''Input a dataframe with grade counts and the professors who gave those grades, along with the 
       exact grade letter of interest. Output two dictionaries, each with professor as the keys, 
       ( {prof : df} , {prof : [%<grade> of THIS prof, %<grade> of OTHER profs]})'''
    profs = df['instructor_id'].values
    profs_dict = {}
    profs_pct = {}
    grade_search = grade.lower() + '_count'
    for prof in profs:
        profs_dict[prof] = df.loc[df['instructor_id'] == prof, ['a_count', 'class_size']]   #str(grade_search)
        other_profs = df.loc[df['instructor_id'] != prof, ['a_count', 'class_size']]
        pct_other = other_profs.sum()[0] / other_profs.sum()[1]
        
        pct_a = profs_dict[prof].sum()[0] / profs_dict[prof].sum()[1]
        profs_pct[prof] = pct_a, pct_other
        
    return profs_dict, profs_pct

profs_dict, profs_pct = prof_a_size(prof_matters, 'a')

In [42]:
[(key, val) for (key, val) in sorted(profs_pct.items(), key=lambda x: x[1][0], reverse=True)][:10]

[('3960315', (0.8, 0.23397720843772732)),
 ('4402193', (0.7551020408163265, 0.23305530812211514)),
 ('4619996', (0.7345132743362832, 0.23052503052503054)),
 ('4398942', (0.6923076923076923, 0.2341577756223731)),
 ('5905783', (0.6666666666666666, 0.2342815581057055)),
 ('5703925', (0.6538461538461539, 0.23423860329776916)),
 ('4070207', (0.6538461538461539, 0.23423860329776916)),
 ('5905700', (0.64, 0.23430049300897116)),
 ('4739455', (0.6212121212121212, 0.22885245901639345)),
 ('3332416', (0.6190476190476191, 0.2344671568231397))]

In [50]:
profs_dict

{'1441959':       a_count  class_size
 599         4          25
 2589        6          25
 3685       12          23
 4762        5          25
 7575        4          26, '1544049':       a_count  class_size
 600         4          17
 2590        2          23
 3686        2          21
 7576        5          21, '3010500':       a_count  class_size
 601         2          22
 3687        0          26, '3196989':       a_count  class_size
 602         6          21
 3690        7          22, '3292045':      a_count  class_size
 603        5          23, '3338326':       a_count  class_size
 604         4          22
 2596        2          25
 3691        1          23, '3404244':       a_count  class_size
 605         3          20
 2597        0          23
 3692        3          25, '359342':        a_count  class_size
 606          5          20
 3539         3          23
 3694         2          24
 6016         5          25
 8369         5          24
 8953         1          21
 11797        0          25, '3614745':       a_count  class_size
 607         7          23
 737       105         343
 2600        2          24
 3695        3          21, '3617728':       a_count  class_size
 608         5          21
 2601        1          23
 7580        4          22, '3780094':        a_count  class_size
 609          4          23
 739          1          21
 3700         6          23
 11798        4          25, '3784713':       a_count  class_size
 610         7          22
 3704        7          23, '3978152':       a_count  class_size
 611         6          23
 3220        5          26
 3707        6          23
 6021        5          22, '3985597':       a_count  class_size
 612         5          20
 3708        3          24, '4124009':       a_count  class_size
 613         4          22
 2606        7          23
 3709        2          24
 7582        3          20, '4150938':       a_count  class_size
 614         5          23
 3711        9          25, '912304':       a_count  class_size
 615         6          21
 3712        5          25, '195426':       a_count  class_size
 734         9          25
 2592        7          23
 3994        6          22, '3077099':       a_count  class_size
 735         4          23
 2594        5          25
 3996        5          23
 6015        5          25
 7577        2          23, '3473033':       a_count  class_size
 736         3          21
 7579        4          22, '3625028':       a_count  class_size
 738         6          25
 4003        7          24
 8371        3          18, '3801942':       a_count  class_size
 740        11          25
 2605       11          23
 4007        8          26
 7581        8          20
 7605       12          23, '4138221':       a_count  class_size
 741         6          22
 4010        2          23, '4265924':       a_count  class_size
 742         2          23
 2610        0          25
 4011        1          25
 7585        2          22, '4275432':       a_count  class_size
 743         3          20
 1670        2          51
 2612        1          24
 3226        0          24
 3724        8          44
 4013        0          25
 7586        1          20
 8845        5          36
 8965        1          24, '4286663':       a_count  class_size
 744         6          23
 2614        2          21
 4014        3          24
 7588        3          21, '4289299':       a_count  class_size
 745        11          26
 2615        3          23
 2674        4          26
 4015        9          23
 4774       11          25
 7589        7          20, '4289376':       a_count  class_size
 746        10          22
 2616        3          22
 7590       14          24, '4402193':       a_count  class_size
 747        23          24
 4016       14          25, '4428675':       a_count  class_size
 748         7          20
 4017        5          24
 7610        4          25
 8381        3          26, '4435923':       a_count  class_size
 749         3          23
 4018        3          25
 4778        5          22
 7612        1          21
 8383        3          26
 8969        2          26, '3337031':       a_count  class_size
 904        29          51
 2664       20          50
 3215       12          38
 3998       12          21
 8367        7          23, '3900615':       a_count  class_size
 905         2          26
 1666        3          26
 2667        2          22
 6018        4          22
 7606        3          24
 8375        4          23
 8843        3          26
 9646        4          24, '4150121':       a_count  class_size
 906         2          25
 2607        1          22
 2670        2          26
 3224        1          24
 5773        3          50
 7583        3          23
 7607        1          22
 8963        1          24, '4260531':       a_count  class_size
 907         4          21
 2609        4          25
 7584        4          21, '4278373':       a_count  class_size
 908         7          26
 2671       10          26
 8378        8          24
 8966       11          25, '4436951':       a_count  class_size
 909         3          23
 2676        0          25, '4540355':        a_count  class_size
 910          9          23
 2677         7          25
 4779         2          24
 11804        9          24, '4542927':       a_count  class_size
 911         4          26
 2678        4          39
 3227       12          25
 5775        4          24
 6024       11          24
 9654        1          24, '4709223':       a_count  class_size
 912         3          23
 2679        5          26
 3230        3          24
 5782        3          37
 6027        5          26
 8972        2          26, '5015116':        a_count  class_size
 913          5          23
 2681         8          25
 4788         6          24
 11812        7          23, '5015966':        a_count  class_size
 914          9          23
 1682        11          24
 2682         3          23
 4789         4          26
 9664         4          21
 9784        10          25
 11813        5          22, '5026051':       a_count  class_size
 915        10          25
 2684        5          25, '5161667':       a_count  class_size
 916         8          23
 2685        5          26
 5785        4          26
 9666        5          26
 9786        4          23, '5175381':       a_count  class_size
 917         0          21
 2687        1          23
 3546        3          24
 5787        2          24, '5177905':       a_count  class_size
 918         8          26
 2688        2          21, '5183812':       a_count  class_size
 919         2          22
 2689        3          23
 5788        2          23, '182590':       a_count  class_size
 1665        6          39
 3721        5          32, '3961551':       a_count  class_size
 1667        4          25
 4769        9          26
 9648        2          24, '4010536':       a_count  class_size
 1668        3          26
 3723        3          25
 8844        3          26, '4144256':       a_count  class_size
 1669        8          25, '4539308':       a_count  class_size
 1671        4          25
 3725        1          28, '4577488':       a_count  class_size
 1672        8          26
 3541        6          24
 3726        9          21
 4781        4          24
 5776        2          25, '4602472':       a_count  class_size
 1673        1          25, '4619996':       a_count  class_size
 1674       24          26
 3542       15          23
 3727       34          39
 5780       10          25, '4627108':       a_count  class_size
 1675        3          25, '4711338':       a_count  class_size
 1676        7          25, '4715243':       a_count  class_size
 1677        4          23, '4739455':       a_count  class_size
 1678       27          38
 3233        8          23
 3544       18          30
 3728       26          35
 5783       21          38
 8849       23          34, '4855766':       a_count  class_size
 1679        2          25
 3729        6          22, '4911838':       a_count  class_size
 1680        8          26
 3730       11          34, '5011208':       a_count  class_size
 1681        3          22
 3731        9          22, '5018006':       a_count  class_size
 1683        6          24
 2683        6          23
 4790        7          24, '5488800':       a_count  class_size
 1684        3          25
 3547        8          23
 5790        2          26, '5514889':       a_count  class_size
 1685        7          26
 3548        2          21
 5793        6          25, '5634301':       a_count  class_size
 1686        7          24, '5665662':       a_count  class_size
 1687        8          25, '5694114':       a_count  class_size
 1688       14          25
 3732       20          35
 8857       20          37, '5701312':       a_count  class_size
 1689        5          24, '5701690':       a_count  class_size
 1690       12          23, '5703925':       a_count  class_size
 1691       17          26, '1564520':       a_count  class_size
 2591        3          20, '3009080':       a_count  class_size
 2593        2          23
 3995        0          21, '3334087':       a_count  class_size
 2595        4          22
 7603        9          22, '3426199':       a_count  class_size
 2598        1          22, '3579933':       a_count  class_size
 2599        1          25
 4000        3          23
 7604        5          19
 8368        3          20, '3619127':       a_count  class_size
 2602        9          25
 3696        7          25
 4001        5          23, '3624160':       a_count  class_size
 2603        2          25
 3698        5          48
 4002        5          25, '3628524':       a_count  class_size
 2604        2          22, '418834':       a_count  class_size
 2608        2          22
 8377        2          25, '4274987':       a_count  class_size
 2611        3          21, '4286528':       a_count  class_size
 2613        1          24
 7587        6          21, '724369':       a_count  class_size
 2617        7          24, '838488':       a_count  class_size
 2618        2          22, '1596998':       a_count  class_size
 2663       11          37
 3209        7          25
 4763        9          24
 8949        8          26, '3743484':       a_count  class_size
 2665        4          26, '3777398':       a_count  class_size
 2666        2          21, '3921154':        a_count  class_size
 2668        10          38
 4768        10          25
 8957         1          26
 11800        5          22, '3988855':       a_count  class_size
 2669        5          26
 9649        6          25
 9777        5          22, '4284847':       a_count  class_size
 2672        4          25, '4286732':       a_count  class_size
 2673        5          25
 7608        5          22
 8379        5          19, '4417693':       a_count  class_size
 2675        3          25, '4718398':       a_count  class_size
 2680        2          36
 8973        5          25
 9661        2          24, '5168209':       a_count  class_size
 2686        4          23, '1625191':       a_count  class_size
 3210        2          20
 8362        0          21
 8950        0          23, '1657172':       a_count  class_size
 3211        4          25, '3114363':       a_count  class_size
 3212        4          22, '3222633':       a_count  class_size
 3213       11          26, '3336117':       a_count  class_size
 3214        5          23, '3631582':       a_count  class_size
 3216        8          37
 8372        5          22, '3729294':       a_count  class_size
 3217        0          25
 8841        3          25
 8954        7          24, '3767682':       a_count  class_size
 3218        4          25
 4766        7          24
 5772        3          37
 6017        8          25
 9645        1          26, '3975028':       a_count  class_size
 3219        4          25
 6020        5          24, '3982654':        a_count  class_size
 3221         5          36
 4770         4          25
 8376         2          25
 11801        5          26, '3988987':       a_count  class_size
 3222        7          37
 8960        6          24, '4086625':       a_count  class_size
 3223        6          24
 6022        5          23
 8961        5          21, '4170997':       a_count  class_size
 3225       10          26
 4773        6          26
 6023        5          25
 8964       11          26, '4579110':       a_count  class_size
 3228        1          21
 6025        2          24, '4708412':       a_count  class_size
 3229       15          26
 6026       10          24
 9659        2          24, '4718035':       a_count  class_size
 3231        3          24
 6028        6          25
 9660        5          22
 9781        4          21, '4724824':       a_count  class_size
 3232        5          24
 6029        8          20
 8974       13          23
 9662        2          20
 9782        3          20, '512170':       a_count  class_size
 3234        4          23
 8388        1          19
 8977        3          24, '796765':       a_count  class_size
 3235        2          25
 6030        5          22, '3623800':       a_count  class_size
 3540        9          23
 5771        6          22
 9644        9          25
 9776        5          20, '4633338':       a_count  class_size
 3543        6          21
 5781        0          23, '4901342':       a_count  class_size
 3545        2          21
 5784        3          25
 8976        2          26, '5516801':       a_count  class_size
 3549       13          24
 5794        5          22, '5540665':       a_count  class_size
 3550       10          24
 5796        4          25, '3020989':       a_count  class_size
 3688        3          23, '3029007':       a_count  class_size
 3689        2          23, '3473196':       a_count  class_size
 3693        5          23, '3619960':       a_count  class_size
 3697        2          26, '3624936':       a_count  class_size
 3699        8          26, '3780502':       a_count  class_size
 3701        4          26, '3782370':       a_count  class_size
 3702        8          24
 8955        8          23, '3782632':       a_count  class_size
 3703        5          47, '3789999':       a_count  class_size
 3705        6          25, '3971866':       a_count  class_size
 3706        2          24
 6019        1          21, '4125693':       a_count  class_size
 3710        6          25, '3800576':       a_count  class_size
 3722        1          24, '1516192':       a_count  class_size
 3993        2          23, '3327118':       a_count  class_size
 3997        2          25, '3338492':       a_count  class_size
 3999        2          23, '3639549':       a_count  class_size
 4004        1          26, '3755887':       a_count  class_size
 4005        4          26, '3776752':       a_count  class_size
 4006        0          23
 8374        2          26, '3950575':       a_count  class_size
 4008        4          22, '4134732':       a_count  class_size
 4009        4          25, '4274198':       a_count  class_size
 4012        7          24, '4444519':       a_count  class_size
 4019        4          25, '4454368':       a_count  class_size
 4020       11          26, '764271':       a_count  class_size
 4021        5          26
 8389        4          24, '3530363':       a_count  class_size
 4764       12          25
 8952        4          26, '3733734':       a_count  class_size
 4765        4          23, '3908701':        a_count  class_size
 4767         3          25
 11799        6          24, '4000673':       a_count  class_size
 4771        8          24, '4154035':       a_count  class_size
 4772        8          26, '4301152':        a_count  class_size
 4775         5          26
 11802        2          22, '4428565':       a_count  class_size
 4776        9          24
 8967        1          25, '4432700':        a_count  class_size
 4777         2          24
 7611         5          22
 8382         2          24
 8968         2          26
 9652         1          26
 11803        2          25, '4540776':        a_count  class_size
 4780        18          26
 11805       11          24, '4594118':        a_count  class_size
 4782         6          26
 5778         4          26
 7616         5          21
 8387         1          23
 9657         4          25
 9780         0          19
 11806        8          25, '4696602':        a_count  class_size
 4783         6          25
 11807        8          26, '4726566':        a_count  class_size
 4784        11          26
 11808       18          22, '4901383':        a_count  class_size
 4785         8          24
 11809        8          24, '4999865':        a_count  class_size
 4786        14          26
 11810       16          24, '5012685':        a_count  class_size
 4787        12          25
 11811       14          24, '4263761':       a_count  class_size
 5774        7          25, '4581886':       a_count  class_size
 5777        3          25
 7614        6          20
 8385        3          24
 9655        4          26
 9779        4          25, '4594766':       a_count  class_size
 5779        6          24, '5168073':       a_count  class_size
 5786       10          25, '5333633':       a_count  class_size
 5789        7          25, '5494989':       a_count  class_size
 5791        4          24, '5514627':       a_count  class_size
 5792        1          24, '5519194':       a_count  class_size
 5795        7          25, '3078922':       a_count  class_size
 7578        5          21, '3187519':       a_count  class_size
 7602        4          26
 8364        5          25, '4418617':       a_count  class_size
 7609        2          21
 8380        1          24, '4577714':       a_count  class_size
 7613        4          25
 8384        2          23, '4589127':       a_count  class_size
 7615        2          25
 8386        0          23, '1543577':       a_count  class_size
 8361        4          24, '3107968':       a_count  class_size
 8363        3          26, '3253306':       a_count  class_size
 8365        5          25, '3332416':       a_count  class_size
 8366       13          21, '3620117':       a_count  class_size
 8370        1          24, '3771205':       a_count  class_size
 8373        5          23, '3136315':       a_count  class_size
 8839       10          25, '3719062':       a_count  class_size
 8840        1          25, '3811392':       a_count  class_size
 8842        3          25, '4310631':       a_count  class_size
 8846       12          25, '4398942':       a_count  class_size
 8847       18          26, '4736666':       a_count  class_size
 8848        7          25, '4882656':       a_count  class_size
 8850       11          25, '4888644':       a_count  class_size
 8851       14          26, '5015919':       a_count  class_size
 8852        4          20, '5134771':       a_count  class_size
 8853       10          26, '5180255':       a_count  class_size
 8854        5          26, '5539085':       a_count  class_size
 8855        7          26, '5634395':       a_count  class_size
 8856        4          26, '5841727':       a_count  class_size
 8858       14          25, '5887275':       a_count  class_size
 8859        6          25, '5904048':       a_count  class_size
 8860        4          26, '5905700':       a_count  class_size
 8861       16          25, '5905783':       a_count  class_size
 8862       16          24, '5905884':       a_count  class_size
 8863        5          24, '5909192':       a_count  class_size
 8864        5          26, '5910557':       a_count  class_size

In [27]:
def extreme_profs(n=3, profs_dict=profs_dict, profs_pct=profs_pct):
    i=0
    diff = []
    
    profs_pct_sorted = [(key, val) for (key, val) in sorted(profs_pct.items(), key=lambda x: x[1][0], reverse=True)]
    for prof, pct_tuple in profs_pct_sorted:
        print(f"{prof} gives {round(pct[0] * 100, 1)}% {, while all other profs give {round(pct[1] * 100, 1)}%")
        diff.append([prof, pct[0] - pct[1]])
    
    for prof, df in profs_dict.items():
        display(df)
        i += 1
        if i>n:
            break

      f_count  class_size
599         0          25
2589        1          25
3685        0          23
4762        0          25
7575        0          26

      f_count  class_size
600         0          17
2590        1          23
3686        0          21
7576        0          21

      f_count  class_size
601         0          22
3687        0          26

      f_count  class_size
602         0          21
3690        0          22

     f_count  class_size
603        0          23

      f_count  class_size
604         0          22
2596        0          25
3691        0          23

1441959 gives 0.8% F's, while all other profs give 0.6%
1544049 gives 1.2% F's, while all other profs give 0.6%
3010500 gives 0.0% F's, while all other profs give 0.6%
3196989 gives 0.0% F's, while all other profs give 0.6%
3292045 gives 0.0% F's, while all other profs give 0.6%
3338326 gives 0.0% F's, while all other profs give 0.6%
3404244 gives 2.9% F's, while all other profs give 0.6%
359342 gives 0.6% F's, while all other profs give 0.6%
3614745 gives 0.2% F's, while all other profs give 0.6%
3617728 gives 4.5% F's, while all other profs give 0.6%
3780094 gives 0.0% F's, while all other profs give 0.6%
3784713 gives 0.0% F's, while all other profs give 0.6%
3978152 gives 0.0% F's, while all other profs give 0.6%
3985597 gives 0.0% F's, while all other profs give 0.6%
4124009 gives 0.0% F's, while all other profs give 0.6%
4150938 gives 2.1% F's, while all other profs give 0.6%
912304 gives 2.2% F's, while all other profs give 0.6%
195426 gives 0.0% F's, while all other profs give 0.6%
3077099 gives 0.8% F's, while all other profs give 0.6%
3473033 gives 0.0% F's, while all other profs give 0.6%
3625028 gives 0.0% F's, while all other profs give 0.6%
3801942 gives 0.9% F's, while all other profs give 0.6%
4138221 gives 0.0% F's, while all other profs give 0.6%
4265924 gives 2.1% F's, while all other profs give 0.6%
4275432 gives 0.0% F's, while all other profs give 0.6%
4286663 gives 0.0% F's, while all other profs give 0.6%
4289299 gives 0.0% F's, while all other profs give 0.6%
4289376 gives 0.0% F's, while all other profs give 0.6%
4402193 gives 0.0% F's, while all other profs give 0.6%
4428675 gives 0.0% F's, while all other profs give 0.6%
4435923 gives 0.7% F's, while all other profs give 0.6%
3337031 gives 0.0% F's, while all other profs give 0.6%
3900615 gives 0.0% F's, while all other profs give 0.6%
4150121 gives 0.9% F's, while all other profs give 0.6%
4260531 gives 1.5% F's, while all other profs give 0.6%
4278373 gives 1.0% F's, while all other profs give 0.6%
4436951 gives 0.0% F's, while all other profs give 0.6%
4540355 gives 0.0% F's, while all other profs give 0.6%
4542927 gives 0.6% F's, while all other profs give 0.6%
4709223 gives 0.0% F's, while all other profs give 0.6%
5015116 gives 4.2% F's, while all other profs give 0.6%
5015966 gives 1.8% F's, while all other profs give 0.6%
5026051 gives 0.0% F's, while all other profs give 0.6%
5161667 gives 0.8% F's, while all other profs give 0.6%
5175381 gives 2.2% F's, while all other profs give 0.6%
5177905 gives 2.1% F's, while all other profs give 0.6%
5183812 gives 0.0% F's, while all other profs give 0.6%
182590 gives 0.0% F's, while all other profs give 0.6%
3961551 gives 0.0% F's, while all other profs give 0.6%
4010536 gives 0.0% F's, while all other profs give 0.6%
4144256 gives 0.0% F's, while all other profs give 0.6%
4539308 gives 0.0% F's, while all other profs give 0.6%
4577488 gives 0.0% F's, while all other profs give 0.6%
4602472 gives 4.0% F's, while all other profs give 0.6%
4619996 gives 0.0% F's, while all other profs give 0.6%
4627108 gives 0.0% F's, while all other profs give 0.6%
4711338 gives 0.0% F's, while all other profs give 0.6%
4715243 gives 0.0% F's, while all other profs give 0.6%
4739455 gives 0.0% F's, while all other profs give 0.6%
4855766 gives 0.0% F's, while all other profs give 0.6%
4911838 gives 0.0% F's, while all other profs give 0.6%
5011208 gives 0.0% F's, while all other profs give 0.6%
5018006 gives 0.0% F's, while all other profs give 0.6%
5488800 gives 0.0% F's, while all other profs give 0.6%
5514889 gives 0.0% F's, while all other profs give 0.6%
5634301 gives 0.0% F's, while all other profs give 0.6%
5665662 gives 0.0% F's, while all other profs give 0.6%
5694114 gives 1.0% F's, while all other profs give 0.6%
5701312 gives 0.0% F's, while all other profs give 0.6%
5701690 gives 0.0% F's, while all other profs give 0.6%
5703925 gives 0.0% F's, while all other profs give 0.6%
1564520 gives 0.0% F's, while all other profs give 0.6%
3009080 gives 0.0% F's, while all other profs give 0.6%
3334087 gives 2.3% F's, while all other profs give 0.6%
3426199 gives 0.0% F's, while all other profs give 0.6%
3579933 gives 1.1% F's, while all other profs give 0.6%
3619127 gives 0.0% F's, while all other profs give 0.6%
3624160 gives 1.0% F's, while all other profs give 0.6%
3628524 gives 0.0% F's, while all other profs give 0.6%
418834 gives 2.1% F's, while all other profs give 0.6%
4274987 gives 0.0% F's, while all other profs give 0.6%
4286528 gives 2.2% F's, while all other profs give 0.6%
724369 gives 0.0% F's, while all other profs give 0.6%
838488 gives 0.0% F's, while all other profs give 0.6%
1596998 gives 0.0% F's, while all other profs give 0.6%
3743484 gives 0.0% F's, while all other profs give 0.6%
3777398 gives 0.0% F's, while all other profs give 0.6%
3921154 gives 0.0% F's, while all other profs give 0.6%
3988855 gives 1.4% F's, while all other profs give 0.6%
4284847 gives 0.0% F's, while all other profs give 0.6%
4286732 gives 0.0% F's, while all other profs give 0.6%
4417693 gives 0.0% F's, while all other profs give 0.6%
4718398 gives 1.2% F's, while all other profs give 0.6%
5168209 gives 4.3% F's, while all other profs give 0.6%
1625191 gives 0.0% F's, while all other profs give 0.6%
1657172 gives 0.0% F's, while all other profs give 0.6%
3114363 gives 0.0% F's, while all other profs give 0.6%
3222633 gives 0.0% F's, while all other profs give 0.6%
3336117 gives 0.0% F's, while all other profs give 0.6%
3631582 gives 0.0% F's, while all other profs give 0.6%
3729294 gives 0.0% F's, while all other profs give 0.6%
3767682 gives 0.0% F's, while all other profs give 0.6%
3975028 gives 0.0% F's, while all other profs give 0.6%
3982654 gives 0.0% F's, while all other profs give 0.6%
3988987 gives 1.6% F's, while all other profs give 0.6%
4086625 gives 2.9% F's, while all other profs give 0.6%
4170997 gives 0.0% F's, while all other profs give 0.6%
4579110 gives 0.0% F's, while all other profs give 0.6%
4708412 gives 0.0% F's, while all other profs give 0.6%
4718035 gives 0.0% F's, while all other profs give 0.6%
4724824 gives 1.9% F's, while all other profs give 0.6%
512170 gives 1.5% F's, while all other profs give 0.6%
796765 gives 2.1% F's, while all other profs give 0.6%
3623800 gives 2.2% F's, while all other profs give 0.6%
4633338 gives 0.0% F's, while all other profs give 0.6%
4901342 gives 1.4% F's, while all other profs give 0.6%
5516801 gives 2.2% F's, while all other profs give 0.6%
5540665 gives 0.0% F's, while all other profs give 0.6%
3020989 gives 0.0% F's, while all other profs give 0.6%
3029007 gives 4.3% F's, while all other profs give 0.6%
3473196 gives 0.0% F's, while all other profs give 0.6%
3619960 gives 3.8% F's, while all other profs give 0.6%
3624936 gives 0.0% F's, while all other profs give 0.6%
3780502 gives 0.0% F's, while all other profs give 0.6%
3782370 gives 0.0% F's, while all other profs give 0.6%
3782632 gives 2.1% F's, while all other profs give 0.6%
3789999 gives 0.0% F's, while all other profs give 0.6%
3971866 gives 2.2% F's, while all other profs give 0.6%
4125693 gives 0.0% F's, while all other profs give 0.6%
3800576 gives 0.0% F's, while all other profs give 0.6%
1516192 gives 0.0% F's, while all other profs give 0.6%
3327118 gives 0.0% F's, while all other profs give 0.6%
3338492 gives 0.0% F's, while all other profs give 0.6%
3639549 gives 0.0% F's, while all other profs give 0.6%
3755887 gives 0.0% F's, while all other profs give 0.6%
3776752 gives 0.0% F's, while all other profs give 0.6%
3950575 gives 0.0% F's, while all other profs give 0.6%
4134732 gives 0.0% F's, while all other profs give 0.6%
4274198 gives 0.0% F's, while all other profs give 0.6%
4444519 gives 4.0% F's, while all other profs give 0.6%
4454368 gives 0.0% F's, while all other profs give 0.6%
764271 gives 2.0% F's, while all other profs give 0.6%
3530363 gives 0.0% F's, while all other profs give 0.6%
3733734 gives 0.0% F's, while all other profs give 0.6%
3908701 gives 0.0% F's, while all other profs give 0.6%
4000673 gives 0.0% F's, while all other profs give 0.6%
4154035 gives 0.0% F's, while all other profs give 0.6%
4301152 gives 0.0% F's, while all other profs give 0.6%
4428565 gives 0.0% F's, while all other profs give 0.6%
4432700 gives 0.0% F's, while all other profs give 0.6%
4540776 gives 0.0% F's, while all other profs give 0.6%
4594118 gives 0.6% F's, while all other profs give 0.6%
4696602 gives 0.0% F's, while all other profs give 0.6%
4726566 gives 0.0% F's, while all other profs give 0.6%
4901383 gives 0.0% F's, while all other profs give 0.6%
4999865 gives 0.0% F's, while all other profs give 0.6%
5012685 gives 0.0% F's, while all other profs give 0.6%
4263761 gives 0.0% F's, while all other profs give 0.6%
4581886 gives 0.0% F's, while all other profs give 0.6%
4594766 gives 0.0% F's, while all other profs give 0.6%
5168073 gives 0.0% F's, while all other profs give 0.6%
5333633 gives 0.0% F's, while all other profs give 0.6%
5494989 gives 0.0% F's, while all other profs give 0.6%
5514627 gives 0.0% F's, while all other profs give 0.6%
5519194 gives 0.0% F's, while all other profs give 0.6%
3078922 gives 0.0% F's, while all other profs give 0.6%
3187519 gives 2.0% F's, while all other profs give 0.6%
4418617 gives 4.4% F's, while all other profs give 0.6%
4577714 gives 6.2% F's, while all other profs give 0.6%
4589127 gives 0.0% F's, while all other profs give 0.6%
1543577 gives 0.0% F's, while all other profs give 0.6%
3107968 gives 0.0% F's, while all other profs give 0.6%
3253306 gives 4.0% F's, while all other profs give 0.6%
3332416 gives 0.0% F's, while all other profs give 0.6%
3620117 gives 0.0% F's, while all other profs give 0.6%
3771205 gives 4.3% F's, while all other profs give 0.6%
3136315 gives 0.0% F's, while all other profs give 0.6%
3719062 gives 4.0% F's, while all other profs give 0.6%
3811392 gives 0.0% F's, while all other profs give 0.6%
4310631 gives 0.0% F's, while all other profs give 0.6%
4398942 gives 0.0% F's, while all other profs give 0.6%
4736666 gives 4.0% F's, while all other profs give 0.6%
4882656 gives 0.0% F's, while all other profs give 0.6%
4888644 gives 0.0% F's, while all other profs give 0.6%
5015919 gives 0.0% F's, while all other profs give 0.6%
5134771 gives 3.8% F's, while all other profs give 0.6%
5180255 gives 3.8% F's, while all other profs give 0.6%
5539085 gives 0.0% F's, while all other profs give 0.6%
5634395 gives 0.0% F's, while all other profs give 0.6%
5841727 gives 0.0% F's, while all other profs give 0.6%
5887275 gives 0.0% F's, while all other profs give 0.6%
5904048 gives 0.0% F's, while all other profs give 0.6%
5905700 gives 0.0% F's, while all other profs give 0.6%
5905783 gives 0.0% F's, while all other profs give 0.6%
5905884 gives 0.0% F's, while all other profs give 0.6%
5909192 gives 0.0% F's, while all other profs give 0.6%
5910557 gives 0.0% F's, while all other profs give 0.6%
5911521 gives 0.0% F's, while all other profs give 0.6%
3027642 gives 0.0% F's, while all other profs give 0.6%
3888064 gives 0.0% F's, while all other profs give 0.6%
3983671 gives 0.0% F's, while all other profs give 0.6%
3988428 gives 0.0% F's, while all other profs give 0.6%
4132058 gives 0.0% F's, while all other profs give 0.6%
4702934 gives 0.0% F's, while all other profs give 0.6%
4709170 gives 0.0% F's, while all other profs give 0.6%
4727446 gives 0.0% F's, while all other profs give 0.6%
3371918 gives 0.0% F's, while all other profs give 0.6%
3960315 gives 0.0% F's, while all other profs give 0.6%
4070207 gives 0.0% F's, while all other profs give 0.6%
4147307 gives 0.0% F's, while all other profs give 0.6%
4533030 gives 0.0% F's, while all other profs give 0.6%
4588508 gives 0.0% F's, while all other profs give 0.6%
4594254 gives 0.0% F's, while all other profs give 0.6%
5011488 gives 0.0% F's, while all other profs give 0.6%
5036171 gives 0.0% F's, while all other profs give 0.6%
5329362 gives 0.0% F's, while all other profs give 0.6%
5330243 gives 0.0% F's, while all other profs give 0.6%
5339881 gives 0.0% F's, while all other profs give 0.6%
5340096 gives 0.0% F's, while all other profs give 0.6%
5340443 gives 0.0% F's, while all other profs give 0.6%

[['1441959', 0.0022799308267673077],
 ['1544049', 0.006430263230855758],
 ['3010500', -0.005829959514170041],
 ['3196989', -0.0058276001618777825],
 ['3292045', -0.005818181818181818],
 ['3338326', -0.005840363400389357],
 ['3404244', 0.023734554649110253],
 ['359342', 0.00037028965327973694],
 ['3614745', -0.003489993315954409],
 ['3617728', 0.03985934597352048],
 ['3780094', -0.005850804485616773],
 ['3784713', -0.005828543673601554],
 ['3978152', -0.005851755526657998],
 ['3985597', -0.005828071879553181],
 ['4124009', -0.005849378503534],
 ['4150938', 0.01508434547908232],
 ['912304', 0.015991073439963956],
 ['195426', -0.005840363400389357],
 ['3077099', 0.002621131521262304],
 ['3473033', -0.0058276001618777825],
 ['3625028', -0.005838942502635633],
 ['3801942', 0.0027657203782926456],
 ['4138221', -0.005828543673601554],
 ['4265924', 0.01536296239257006],
 ['4275432', -0.005935696619950536],
 ['4286663', -0.005849378503534],
 ['4289299', -0.00587515299877601],
 ['4289376', -0.00583941605839416],
 ['4402193', -0.005830431613895862],
 ['4428675', -0.005852231163130944],
 ['4435923', 0.0011994533414362053],
 ['3337031', -0.005894392140810479],
 ['3900615', -0.005899221630479312],
 ['4150121', 0.0035130763664666135],
 ['4260531', 0.009167527055340442],
 ['4278373', 0.004127224139832866],
 ['4436951', -0.005829959514170041],
 ['4540355', -0.00585270687693058],
 ['4542927', 0.00037028965327973694],
 ['4709223', -0.005884275907159202],
 ['5015116', 0.03657815594827107],
 ['5015966', 0.01265266330936973],
 ['5026051', -0.0058309037900874635],
 ['5161667', 0.0022799308267673077],
 ['5175381', 0.016050848295988525],
 ['5177905', 0.015528073357829584],
 ['5183812', -0.00583941605839416],
 ['182590', -0.0058408371866634215],
 ['3961551', -0.005842733100705997],
 ['4010536', -0.005843681519357195],
 ['4144256', -0.0058191222823890726],
 ['4539308', -0.005832320777642771],
 ['4577488', -0.005864147255253299],
 ['4602472', 0.03426169886042189],
 ['4619996', -0.005860805860805861],
 ['4627108', -0.0058191222823890726],
 ['4711338', -0.0058191222823890726],
 ['4715243', -0.005818181818181818],
 ['4739455', -0.005901639344262295],
 ['4855766', -0.005829487490891426],
 ['4911838', -0.005835629761711785],
 ['5011208', -0.005828071879553181],
 ['5018006', -0.0058408371866634215],
 ['5488800', -0.005842259006815969],
 ['5514889', -0.005841311049813403],
 ['5634301', -0.005818652012283821],
 ['5665662', -0.0058191222823890726],
 ['5694114', 0.004537389886162972],
 ['5701312', -0.005818652012283821],
 ['5701690', -0.005818181818181818],
 ['5703925', -0.005819592628516004],
 ['1564520', -0.0058167716917111],
 ['3009080', -0.005828071879553181],
 ['3334087', 0.01698014629049112],
 ['3426199', -0.005817711700064641],
 ['3579933', 0.005727052808580682],
 ['3619127', -0.0058417849898580124],
 ['3624160', 0.004431723909075824],
 ['3628524', -0.005817711700064641],
 ['418834', 0.015528073357829584],
 ['4274987', -0.005817241657913873],
 ['4286528', 0.016474630544087356],
 ['724369', -0.005818652012283821],
 ['838488', -0.005817711700064641],
 ['1596998', -0.005860328829562104],
 ['3743484', -0.005819592628516004],
 ['3777398', -0.005817241657913873],
 ['3921154', -0.005859851875966469],
 ['3988855', 0.007937981049765206],
 ['4284847', -0.0058191222823890726],
 ['4286732', -0.005838469023678235],
 ['4417693', -0.0058191222823890726],
 ['4718398', 0.005998442583400614],
 ['5168209', 0.03774088713219148],
 ['1625191', -0.0058375222960921035],
 ['1657172', -0.0058191222823890726],
 ['3114363', -0.005817711700064641],
 ['3222633', -0.005819592628516004],
 ['3336117', -0.005818181818181818],
 ['3631582', -0.005835156819839533],
 ['3729294', -0.005842259006815969],
 ['3767682', -0.005872277954489846],
 ['3975028', -0.005830431613895862],
 ['3982654', -0.005860328829562104],
 ['3988987', 0.010638396825755392],
 ['4086625', 0.023734554649110253],
 ['4170997', -0.005856039040260269],
 ['4579110', -0.005828543673601554],
 ['4708412', -0.005842259006815969],
 ['4718035', -0.005850804485616773],
 ['4724824', 0.01299636463729634],
 ['512170', 0.009394135975388003],
 ['796765', 0.015528073357829584],
 ['3623800', 0.016534864406167624],
 ['4633338', -0.005828071879553181],
 ['4901342', 0.008128707159211782],
 ['5516801', 0.015991073439963956],
 ['5540665', -0.005830431613895862],
 ['3020989', -0.005818181818181818],
 ['3029007', 0.03774088713219148],
 ['3473196', -0.005818181818181818],
 ['3619960', 0.03272277350841851],
 ['3624936', -0.005819592628516004],
 ['3780502', -0.005819592628516004],
 ['3782370', -0.005829487490891426],
 ['3782632', 0.015528073357829584],
 ['3789999', -0.0058191222823890726],
 ['3971866', 0.016474630544087356],
 ['4125693', -0.0058191222823890726],
 ['3800576', -0.005818652012283821],
 ['1516192', -0.005818181818181818],
 ['3327118', -0.0058191222823890726],
 ['3338492', -0.005818181818181818],
 ['3639549', -0.005819592628516004],
 ['3755887', -0.005819592628516004],
 ['3776752', -0.005830431613895862],
 ['3950575', -0.005817711700064641],
 ['4134732', -0.0058191222823890726],
 ['4274198', -0.005818652012283821],
 ['4444519', 0.03426169886042189],
 ['4454368', -0.005819592628516004],
 ['764271', 0.014250080984774862],
 ['3530363', -0.005831376042763424],
 ['3733734', -0.005818181818181818],
 ['3908701', -0.005830431613895862],
 ['4000673', -0.005818652012283821],
 ['4154035', -0.005819592628516004],
 ['4301152', -0.005829959514170041],
 ['4428565', -0.005830431613895862],
 ['4432700', -0.005877071259489022],
 ['4540776', -0.0058309037900874635],
 ['4594118', 0.00025663320031014004],
 ['4696602', -0.005831376042763424],
 ['4726566', -0.005829959514170041],
 ['4901383', -0.005829959514170041],
 ['4999865', -0.0058309037900874635],
 ['5012685', -0.005830431613895862],
 ['4263761', -0.0058191222823890726],
 ['4581886', -0.005864147255253299],
 ['4594766', -0.005818652012283821],
 ['5168073', -0.0058191222823890726],
 ['5333633', -0.0058191222823890726],
 ['5494989', -0.005818652012283821],
 ['5514627', -0.005818652012283821],
 ['5519194', -0.0058191222823890726],
 ['3078922', -0.005817241657913873],
 ['3187519', 0.013857458428418748],
 ['4418617', 0.038777804761776266],
 ['4577714', 0.05691295546558704],
 ['4589127', -0.005829959514170041],
 ['1543577', -0.005818652012283821],
 ['3107968', -0.005819592628516004],
 ['3253306', 0.03426169886042189],
 ['3332416', -0.005817241657913873],
 ['3620117', -0.005818652012283821],
 ['3771205', 0.03774088713219148],
 ['3136315', -0.0058191222823890726],
 ['3719062', 0.03426169886042189],
 ['3811392', -0.0058191222823890726],
 ['4310631', -0.0058191222823890726],
 ['4398942', -0.005819592628516004],
 ['4736666', 0.03426169886042189],
 ['4882656', -0.0058191222823890726],
 ['4888644', -0.005819592628516004],
 ['5015919', -0.0058167716917111],
 ['5134771', 0.03272277350841851],
 ['5180255', 0.03272277350841851],
 ['5539085', -0.005819592628516004],
 ['5634395', -0.005819592628516004],
 ['5841727', -0.0058191222823890726],
 ['5887275', -0.0058191222823890726],
 ['5904048', -0.005819592628516004],
 ['5905700', -0.0058191222823890726],
 ['5905783', -0.005818652012283821],
 ['5905884', -0.005818652012283821],
 ['5909192', -0.005819592628516004],
 ['5910557', -0.005818652012283821],
 ['5911521', -0.0058191222823890726],
 ['3027642', -0.005818652012283821],
 ['3888064', -0.0058191222823890726],
 ['3983671', -0.005818181818181818],
 ['3988428', -0.0058191222823890726],
 ['4132058', -0.005819592628516004],
 ['4702934', -0.0058191222823890726],
 ['4709170', -0.005818181818181818],
 ['4727446', -0.005819592628516004],
 ['3371918', -0.005828071879553181],
 ['3960315', -0.0058191222823890726],
 ['4070207', -0.005819592628516004],
 ['4147307', -0.005819592628516004],
 ['4533030', -0.0058309037900874635],
 ['4588508', -0.0058191222823890726],
 ['4594254', -0.005819592628516004],
 ['5011488', -0.005829487490891426],
 ['5036171', -0.005829015544041451],
 ['5329362', -0.005829487490891426],
 ['5330243', -0.005818181818181818],
 ['5339881', -0.005818652012283821],
 ['5340096', -0.005818181818181818],
 ['5340443', -0.005829487490891426]]

In [60]:
display(teachings.head(2))
sections.head(2)

   instructor_id                          section_uuid
0         761703  45adf63c-48c9-3659-8561-07556d2d4ddf
1         761703  c6280e23-5e43-3859-893e-540d94993529

,uuid,course_offering_uuid,section_type,number,room_uuid,schedule_uuid
0,45adf63c-48c9-3659-8561-07556d2d4ddf,344b3ebe-da7e-314c-83ed-9425269695fd,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90
1,c6280e23-5e43-3859-893e-540d94993529,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90

In [137]:
A = pd.merge(teachings, sections, left_on='section_uuid', right_on='uuid').drop('uuid', axis=1)

In [138]:
A.head()

,instructor_id,section_uuid,course_offering_uuid,section_type,number,room_uuid,schedule_uuid
0,761703,45adf63c-48c9-3659-8561-07556d2d4ddf,344b3ebe-da7e-314c-83ed-9425269695fd,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90
1,761703,c6280e23-5e43-3859-893e-540d94993529,f718e6cd-33f0-3c14-a9a6-834d9c3610a8,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90
2,761703,9395dc21-15d1-3fab-8d1f-6f3fe6114c48,ea3b717c-d66b-30dc-8b37-964d9688295f,FLD,1,04368a56-c959-3e4b-8b3d-f4cc3538fea5,f2d66a4d-0c08-3b48-abf6-649fffd7ae90
3,3677061,b99e440b-39db-350a-81eb-b6eb1bd8b0bc,ea3b717c-d66b-30dc-8b37-964d9688295f,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90
4,761703,ca1c841f-41d5-3298-bd25-01c65751f150,ea3b717c-d66b-30dc-8b37-964d9688295f,FLD,1,NaN,f2d66a4d-0c08-3b48-abf6-649fffd7ae90

In [139]:
B = pd.merge(A, grade_distributions)

In [140]:
cols = B.columns
cols_to_keep = cols.drop(['section_uuid', 'section_type', 'number', 'room_uuid', 'schedule_uuid', 'section_number'])
cols_to_keep
C = B.loc[:, cols_to_keep].groupby('course_offering_uuid')

In [141]:
D = C.head(len(C))

In [142]:
D.drop_duplicates(inplace=True)

In [143]:
D = D.loc[:,['instructor_id', 'course_offering_uuid', 'a_count', 'ab_count',
       'b_count', 'bc_count', 'c_count', 'd_count', 'f_count']]

In [159]:
D['course_offering_uuid'].value_counts()

a2c8781f-b2a3-33ea-b606-740ae7d6ef3f    2208
ceccaea8-0e3a-3828-9572-4db04fb73f28    2116
d6a6d456-7a35-3542-af1d-c8af71328005    2024
12015c86-bd83-3d99-93b6-d12cd2c0f5d6    1980
7ef6ad64-6ab5-3902-8521-253d6428e49d    1978
ad76f040-a3b8-3432-aa1c-6ee66c8550a1    1932
35a65d4a-702c-388e-b98b-a0127e587f16    1800
bdc6679e-2bfd-36a6-8e0a-7639e47ca25a    1770
0f80ce84-1e1f-37e9-b93a-0d2542cb6380    1764
525970c4-dbf3-30ff-8191-f1e7daded574    1740
5fe1b603-04cf-33ea-a7b9-04e6e357c4a2    1710
b2695db3-d8eb-31c0-b4f3-add51eb32d03    1710
41e6b821-0d66-3ecc-925c-ffb16de7ab1d    1682
1fcf43ea-18d8-35a0-9822-5789c0a83920    1681
6b76c9d2-33d9-3c7c-bc33-2b04cd3b6a46    1672
6332a3af-7275-3786-b69d-b754be37b9f2    1650
21ced15c-d665-38b3-abc6-23e523733326    1624
80cd3cee-98d2-3b2d-8cbb-b0bc2f44497d    1599
4c231a8a-2dfc-3994-9a06-afa431164181    1596
cd11d10d-1e78-3d36-ac3a-4a8f1e7ea68c    1590
bbe66764-b560-3fe2-b35a-195eb60e6112    1568
78a11bde-275c-313a-9c65-ea93faacdeba    1568
39a77885-e6e4-3aaf-8a62-95c16ec52619    1560
276f745f-61a0-3e68-9a85-14dab6fe6c95    1530
13ffe1b9-9549-3278-b7c9-5da5e2e28afc    1517
cdbe7393-8447-362e-8087-11dc5c2504f4    1512
94989f90-36a2-34aa-9c95-145cc7f933ed    1496
36754980-48d2-3b34-ad0c-d621a6cb30df    1485
5cf2be36-bff9-3228-ab7a-838314d9e7c2    1462
fc8808fc-6a59-372c-b202-1f0e31433cf2    1360
                                        ...
38487d42-ab5c-337b-9e69-a65539bca7a8       1
bc78ff86-5d13-3583-a512-a9c5d9102d33       1
2e76f614-5af8-3f17-9b23-cd4d4d6d1fa1       1
91627a10-3519-3b72-af86-7104dab6803e       1
2584dc40-eb28-39f9-81a2-3aeb4407aa71       1
e15eea5c-9f59-3137-ab8d-0448f7635f68       1
0a3bb8b0-9c4e-3a1f-957a-07327a70478d       1
24b2f436-7891-3c91-8bc3-4adc0e31e62a       1
480dda5b-2004-3029-843e-e1bee5bdf388       1
20a26903-3302-3c22-9cf4-590681e9fb75       1
c73ee839-bb1c-3efb-ad81-c32eb9545461       1
b9ad90fd-18bf-3a76-b5db-e86b0d07de08       1
9706c46d-c32f-369c-b891-d8b4a2fbab61       1
2552224b-d6fe-3c72-a0fa-3e055701168f       1
a343729f-f56a-311c-b7f3-d18f8bf928fb       1
96b03d75-64c2-31ea-aece-dcbc8f7be1dc       1
e0ca3e68-aa4a-327d-b700-09794ab7cca7       1
fe57cb88-57e3-3334-94df-340b1c90b0a9       1
2bf31aa5-85a1-34f2-8480-56acabdea613       1
fef091b9-c0a7-300f-b605-5fa30eea2b39       1
6ce0c01f-515e-3072-83b5-9bac65c0840c       1
2d3c1a4c-c6aa-31c0-989a-838feaa75a21       1
6bca1811-d294-350c-be42-a06e45b3b5e6       1
3b8b2bff-5f1d-3116-8faf-7b6c0072d19e       1
35bf621b-267d-3d05-a76d-c5ff24c9ab4a       1
a889794c-03ec-366f-9d5d-60cffefaa2db       1
5cc77344-aa65-3f18-a6c4-cb7675d88da9       1
7e996d98-f68b-3934-b9dc-95203d55fc8c       1
2fe6e7f4-6cc5-31d5-a74e-f10a52e68385       1
52956d80-04a3-31f9-a721-e0cf7e4066f4       1
Name: course_offering_uuid, Length: 80164, dtype: int64

In [160]:
D[col] = D[col].apply(pd.to_numeric, errors='coerce')
D['class_size'] = D[['a_count', 'ab_count', 'b_count', 'bc_count', 'c_count', 'd_count', 'f_count']].sum(axis=1)
D['counts'] = D.groupby(['course_offering_uuid'])['course_offering_uuid'].transform('count')

In [161]:
E = D.loc[D['course_offering_uuid'] == 'a2c8781f-b2a3-33ea-b606-740ae7d6ef3f']

In [162]:
E['instructor_id'].value_counts()

942078     46
3467209    46
4284613    46
403594     46
3778398    46
3628821    46
4148887    46
3464767    46
4269584    46
4150782    46
3442158    46
4140447    46
296194     46
773349     46
4140245    46
3454094    46
3976301    46
4150232    46
3117704    46
3981948    46
3457652    46
3123795    46
4080122    46
215332     46
3772829    46
4147838    46
3958227    46
4149156    46
3960722    46
4149090    46
1544018    46
3467035    46
3024437    46
542249     46
3466787    46
4150791    46
298410     46
3973771    46
3982643    46
3630373    46
3343365    46
4146113    46
4150119    46
4150027    46
4149989    46
4149925    46
3635864    46
3975295    46
Name: instructor_id, dtype: int64